body {
  margin: 0;
  padding: 0;
  background-color: rgba(219, 239, 239, 1);
}

.screen {
  max-width: 100%;
  margin: auto;
  background: #d4d8d8;
  height: 100%;
}
.screen main{
  max-width: 1200px; /* Adjust as needed */
  margin: 0 auto; /* Center the container */
  padding: 0px; /* Add some padding if needed */
  box-sizing: border-box; /* Ensure padding and border are included in the total width */
}

/*.navbar{
  background-color: #acc4df;
}*/

.logo img {
  height: 90px;
  margin-right: 200px;
  width: 200px;
  padding-left: 10px;

}

.logo h1 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-left: 100px auto;
}

nav ul li {
  margin: 15px;
  font-size: larger;
  margin-right: 60px;
}
nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #7c7c7c;
}

.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
  background: #acc4df;
}

.hero-content {
  max-width: 60%;
  margin-left: 60px; 
}

.hero-content h2 {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  margin: 0;
}

.hero-content p {
  font-size: 20px;
  color: #555;
  width: 70%;
  align-self: center;
}

.hero-image img {
  width: 400px;
  height: 400px;
  margin-right: 60px;
}

.btn {
  font-weight: 600;
  padding: 12px 30px;
  border-radius: 30px;
  color: #ffffff;
  background: #2f2f2f;
  border-color: #2f2f2f;
}

.btn:hover {
  color: #ffffff;
  background: #222222;
  border-color: #222222;
}

.btn:active,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn.btn-primary {
  background: #3b5d50;
  border-color: #3b5d50;
}

.btn.btn-primary:hover {
  background: #314d43;
  border-color: #314d43;
}

.btn.btn-secondary {
  color: #2f2f2f;
  background: #7870d6;
  border-color: #7870d6;
}

.btn.btn-secondary:hover {
  background: #7870d6;
  border-color: #7870d6;
}

.btn.btn-white-outline {
  background: transparent;
  border-width: 2px;
  border-color: rgba(255, 255, 255, 0.3);
}

.btn.btn-white-outline:hover {
  border-color: white;
  color: #ffffff;
}

.why-choose-section {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
}
.container1{
  display: flex;
}
.content{
  display: flex;
}
.img-wrap {
  height: 500px;
  width: 500px;
  border-radius: 5%;
  overflow: hidden;
} 
.icon{
  margin-bottom: 10px;
}
.col-lg-6 {
  flex: 0 0 auto;
  width: 50%;
  margin-left: 5%;
}
.col-md-6 {
  flex: 0 0 auto;
  width: 50%;
}
.col-lg-5 {
  flex: 0 0 auto;
  width: 41.66666667%;
  margin-left: 40px ;
}
.team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.team .heading{
  font-family: "Poppins", sans-serif;
  font-size: 35px;
  margin-bottom: 30px;
}

.team .member{
  display: flex;
  width: auto;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.team .member .card{
  width: 18rem;
  margin: 10px;
  text-align: justify;
}

.team .member .card{
  box-shadow: 0 0 5px rgb(82, 82, 82);
}
.feature {
  width: 100%;
  margin-right: 10px;
}

.feature h3 {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}

.feature p{
  max-width: 85%;
}

.author-pic img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.carousel{
  width: 90%;
  margin-left: 5%;
}


.footer {
  display: flex;
  justify-content: space-between;
  background-color: #4682b4;
  padding: 50px;
  margin: 0;
  color: white;

}

.shop-list {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-family: "Source Sans 3", sans-serif;

}

.shop-list h1 {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 0;
}

.shop-list ul {
  list-style-type: none;
  margin-top: 4px;
  padding: 0;
}

.shop-list ul li {
  margin-top: 10px;
  font-weight: 300;
  cursor: pointer;
}

.help-list {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: auto;

}

.help-list h1 {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 0;
  text-align: left;
}

.help-list ul {
  list-style-type: none;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 300;
  margin-top: 4px;
  padding: 0;
}

.help-list li {
  text-align: left;
  margin-top: 10px;
  cursor: pointer;
}


.terms {
  display: flex;
  cursor: pointer;
}

.terms p {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 300;
  margin-top: 40px;
  margin-right: 50px;
}
